@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    font-family: "Saira Condensed", sans-serif;
}

:root {
    --yellow-color: #fdff00;
    --black-color: #000000;
    --white-color: #ffffff;
}
/* background image  */
body{
    height: 100%; 
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; /*make the image cover all the content*/
    display: flex;
    justify-content: center;
    position: absolute;
    background-attachment: fixed; /*to make sure the background is fixed when user scrolls */
    /* filter: blur(100px); */
    transition-duration:1s;
    background-color: black;
}
body::before {
    content: "";
    background-image: url(imgs/background2.jpg);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.4; /* adjust as needed */
    z-index: -1;
}
/* End of background image  */

#Logoimg img{
    position: absolute;
    width: 155px;
    height: 165px;
    display: flex;
    right: 25px;
    top: 16px;
    border-radius: 60px;
    filter: brightness(90%);
}

#form{
    background-color: transparent;
    margin-bottom: 90px;
    height: 440px;
    width: 330px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40%;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px 40px;
    box-shadow: 0 0 5px 5px #7e7e00;
    backdrop-filter: blur(15px);
}
#form:hover{
    box-shadow: 0 0 10px 6px #b6b600;
    transition-duration: 0.5s;
}

#form h1{
    display: flex;
    justify-content: center;
    color: rgb(204, 202, 202);
    margin-bottom: 80px;
    margin-top: 0px;
}

#form div #username,#password,#LoginButton{
    border-radius: 10px 40px;
    /* border: ; */
    background-color: transparent;
    width: 250px;
    height: 30px;
    font-size: 15px;
    color: aliceblue;
}
#form div input:hover,button:hover{
    box-shadow: 0 0 20px 10px var(--yellow-color);
    transition-duration: 0.12s;
    cursor: pointer;
}
#form div{
    display: flex;
    margin-top: 30px;
    flex-direction: column;
}
::-webkit-input-placeholder,input{
    text-align: center;
    -webkit-text-fill-color: white;
}


#FormLoginbutton{
    display: flex;
    justify-content: center;
    color: aliceblue;

}
#FormLoginbutton a{
    text-decoration: none;
    color: aliceblue;
}
#RememberMebtn label{
    color:antiquewhite ;
    display: flex;
}
#RememberMebtn a{
    display: flex;
    margin-left: 50px;
    text-decoration: none;
}
#account{
    display:block;
    margin-top: 15px;
    color: rgb(255, 255, 255);
    /* text-align: center; */
}
